<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table th:fragment="job-list" th:each="job : ${jobs}" class="job-listing">
        <th:block th:each="map : ${fields}">
            <tr>
                <th:block th:each="pair : ${map}">
                    <td th:text="${pair.value}"></td>

                    <td th:if="${pair.key.equals('name') or pair.key.equals('id')}">
                        <i th:text="${parser.parseExpression(pair.key).getValue(job)}"></i>
                    </td>

                    <td th:unless="${pair.key.equals('name') or pair.key.equals('id')}">
                        <a th:href="@{/list/jobs(column=${pair.key},
                        value=${parser.parseExpression(pair.key).getValue(job)})}">
                        <i th:text="${parser.parseExpression(pair.key).getValue(job)}"></i>
                        </a>
                    </td>
                </th:block>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>