<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table th:fragment="job-list" th:each="job : ${jobs}" class="job-listing">
        <th:block th:each="field : ${fields}">
            <tr>
                <td th:text="${field.value}"></td>
                <td th:text="${field.key.getValue(job)}"></td>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>